.container{
    width: 100%;
    height: 100vh;
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center ;
}
#item-container{
    width: 100vm;
    
    text-align: center;
    
}
.pagination{
    
    display: flex;
    align-items: center;
    background-color: aliceblue;
    color: aqua;
    padding: 10px 40px;
    border-radius: 6px;

}


ul{
    margin:20px 30px;
}

ul li{
    display: inline-block;
    margin: 0 10px;
    
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 45px;
    cursor: pointer;
}

ul li.active{
    color: brown;
    background-image: linear-gradient(#ff4568,#ff4568);
    background-repeat: no-repeat;
}
